.single-hotel img {
  height: 150px;
  width: 200px;
  float: left;
  margin: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.single-hotel img:hover {
  opacity: 0.5;
}
.hotel-details {
  width: 400px;
  float: left;
}
h3 {
  color: teal;
}
